.subhero-container {
  margin: 3% auto;
  margin-bottom: 5%;
  width: 98%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.subhero-movie-container {
  position: relative;
}

.subhero-show-container {
  position: relative;
}

.movies-subhero {
  width: 100%;
}

.sub-hero-title {
  position: absolute;
  text-align: left;
  top: 55%;
  z-index: 500;
  left: 2vh;
  pointer-events: none;
  width: 75%;
}

.subhero-desc {
  position: absolute;
  top: 65%;
  width: 74%;
  z-index: 500;
  left: 2vh;
  font-size: 2vh;
  text-align: left;
  pointer-events: none;
}

.show-nudge {
  left: -2vh;
}

.align-right {
  text-align: right;
}

.subhero-image-left {
  mask-image: url('../../assets/sub-hero-left.svg');
  mask-repeat: no-repeat;
  width: 100vh;
  height: 46vh;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.subhero-image-right {
  mask-image: url('../../assets/sub-hero-right.svg');
  mask-repeat: no-repeat;
  width: 100vh;
  height: 46vh;
  object-fit: cover;
  position: relative;
  right: 23.5vh;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.subhero-image-left:hover {
  opacity: 1;
}

.subhero-image-right:hover {
  opacity: 1;
}
