.favorites-container {
  text-align: left;
  width: 93%;
  margin: 0 auto;
}

.favorite-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorites-posters {
  margin-bottom: 2vh;
  width: 33vh;
  height: 51vh;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

.favorites-posters:hover {
  opacity: 1;
}

.no-favorites {
  position: absolute;
  left: 0;
  right: 0;
  margin: 48vh auto 0;
  font-size: 4vh;
  color: #292929;
  user-select: none;
}
