.navigation-container {
  position: relative;
  z-index: 500;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  top: 27vh;
  left: 1%;
  height: 50vh;
}

/* .nav-icons {
  stroke: white;
  width: 2.5vh;
  cursor: pointer;
} */

.span-icon {
  display: block;
  width: 5vw;
  height: 5vh;
  background: white;
  transition: 0.2s ease-in-out;
}

.span-icon:hover {
  background: rgb(0, 68, 255);
}

.search-nav {
  mask-image: url('../assets/icons/search.svg');
  mask-repeat: no-repeat;
}

.home {
  mask-image: url('../assets/icons/home.svg');
  mask-repeat: no-repeat;
}

.tv {
  mask-image: url('../assets/icons/tv.svg');
  mask-repeat: no-repeat;
}

.movies {
  mask-image: url('../assets/icons/film.svg');
  mask-repeat: no-repeat;
}

.favorites {
  mask-image: url('../assets/icons/star_nav.svg');
  mask-repeat: no-repeat;
}

.is-active > .search-nav {
  background: rgb(0, 68, 255);
  mask-image: url('../assets/icons/search.svg');
  mask-repeat: no-repeat;
}

.is-active > .home {
  background: rgb(0, 68, 255);
  mask-image: url('../assets/icons/home.svg');
  mask-repeat: no-repeat;
}

.is-active > .tv {
  background: rgb(0, 68, 255);
  mask-image: url('../assets/icons/tv.svg');
  mask-repeat: no-repeat;
}

.is-active > .movies {
  background: rgb(0, 68, 255);
  mask-image: url('../assets/icons/film.svg');
  mask-repeat: no-repeat;
}

.is-active > .favorites {
  background: rgb(0, 68, 255);
  mask-image: url('../assets/icons/star_nav.svg');
  mask-repeat: no-repeat;
}

.scroll-back {
  position: fixed;
  z-index: 500;
  width: 2%;
  right: 1.5vh;
  bottom: 1.5vh;
  cursor: pointer;
}
