.navigation-container {
  position: relative;
  z-index: 500;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  top: 27vh;
  left: 1%;
  height: 50vh;
}

.nav-icons {
  stroke: white;
  width: 2.5vh;
  cursor: pointer;
}
