.search-page {
  width: 98%;
  margin: 0 auto;
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
}

.search-page-icon {
  width: 4%;
}

.search-page-form {
  width: 32vw;
  padding: 1% 0;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  outline: none;
  text-align: left;
}

.search-page-form::placeholder {
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.search-page-form:focus {
  outline: none;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-item {
  margin: 2%;
}

.search-poster {
  width: 20vw;
  height: 55vh;
  object-fit: cover;
}
