.search-page {
  width: 50%;
  margin: 0 auto;
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-page-icon {
  width: 5%;
  opacity: 0.5;
}

.search-page-form {
  width: 60vh;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: white;
  outline: none;
  letter-spacing: 1px;
}

.main-search {
  width: 70vh;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  outline: none;
  letter-spacing: 1px;
}

.main-search::placeholder {
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.541);
}

.search-page-form:focus {
  outline: none;
}

.search-item {
  margin: 2%;
}

.search-poster {
  width: 20vw;
  height: 55vh;
  object-fit: cover;
}
