.search-page {
  width: 98%;
  margin: 0 auto;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-page-icon {
  width: 2.5%;
}

.search-page-form {
  width: 100%;
  padding: 1% 0;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  outline: none;
}

.search-page-form::placeholder {
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

.search-item {
  margin: 2%;
}

.search-poster {
  width: 20vw;
  height: 45vh;
  object-fit: cover;
}
