.App {
  text-align: center;
}
/* Global Styles  */

/* Sections */
.section {
  display: flex;
  align-items: baseline;
  margin-left: 1%;
}

.second-section {
  margin-top: 5%;
}

.full-page-container {
  width: 178vh;
  margin: 2.5% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

/* Titles / Texts */
.section-header {
  text-align: left;
}

.single-page-hero-info {
  position: absolute;
  z-index: 500;
  width: 50%;
  margin-top: 15%;
  margin-left: 3%;
}

.single-page-hero-title {
  text-align: left;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.377));
}

.single-page-hero-desc {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.377));
}

.genre-header {
  position: absolute;
  z-index: 500;
  margin-top: 10%;
}

.links {
  color: white;
  text-decoration: none;
}

.rating {
  text-align: center;
  font-weight: 900;
  width: 6vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border: 3px solid #ffe925;
  border-radius: 50px;
  background: rgba(255, 255, 0, 0.164);
}

.image-section-header {
  position: absolute;
  z-index: 500;
  left: 0;
  right: 0;
  margin: 10% auto;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.616));
}

/* Containers */
.popular-movies-container {
  margin-top: -4%;
}

.six-poster-container {
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.extras-container {
  width: 98%;
  margin-left: 1%;
  display: flex;
  justify-content: space-between;
}

.single-page-containter {
  width: 95%;
  margin: 2.5% auto;
}

.section-flex {
  width: 27vh;
  display: flex;
  flex-direction: column;
}

.poster-info {
  text-align: left;
  width: 100%;
}

.reviews-container {
  width: 98%;
  margin: 0 auto;
}

.review-author {
  text-align: left;
}

.review-content {
  text-align: left;
  padding-bottom: 2%;
  border-bottom: 2px solid grey;
}

.title-image-section {
  width: 174vh;
  height: 40vh;
  object-fit: cover;
  object-position: top;
  opacity: 0.4;
  border-radius: 6px;
}

/* Images */

.actors-page-posters {
  margin-bottom: 8%;
}

.genre-page-posters {
  margin-bottom: 1.5%;
}

.genre-page-poster {
  margin-bottom: 8%;
}

.posters {
  width: 27vh;
  height: 41vh;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.full-hero {
  width: 98%;
  height: 60vh;
  object-fit: cover;
  object-position: top;
  opacity: 0.8;
  border-radius: 6px;
}

.video {
  border-radius: 10px;
  overflow: hidden;
}

/* icons */
.hero-back {
  position: absolute;
  top: 7%;
  left: 5.5%;
  z-index: 500;
  width: 2%;
  cursor: pointer;
}

.hero-star {
  position: absolute;
  top: 7%;
  right: 5.5%;
  z-index: 500;
  width: 2%;
  cursor: pointer;
}
