body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: #0c0c0c;
  color: white;
  scroll-behavior: smooth;
}

button {
  font-family: 'Roboto', sans-serif;
}
