.genre-buttons-container {
  max-width: 176vh;
  margin: 2% auto -1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genre-links:hover > .genre-buttons {
  color: black;
  font-weight: 500;
}

.genre-links {
  background: #232323;
  border-radius: 5px;
  width: 8%;
  padding: 1vh 0 1vh 0;
  margin-right: 1%;
  margin-bottom: 1%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.genre-buttons {
  background: none;
  border: none;
  color: white;
  font-size: 1.5vh;
  letter-spacing: 0.2vh;
  cursor: pointer;
  outline: none;
}

.genre-links:hover {
  background: rgb(68, 255, 174);
  transform: scale(1.1);
}
