.genre-buttons-container {
  max-width: 176vh;
  margin: 2% auto -1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genre-links {
  background: #232323;
  border-radius: 10px;
  width: 9%;
  padding: 0.6% 0 0.6% 0;
  margin-right: 1%;
  margin-bottom: 1%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.genre-buttons {
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  letter-spacing: 1.2px;
  cursor: pointer;
  outline: none;
}

.genre-links:hover {
  background: #2757ff;
  filter: drop-shadow(0px 0px 10px #2756ff42);
}
