.subhero-container {
  margin: 3% auto;
  margin-bottom: 5%;
  width: 98%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.sub-hero-movie-title {
  position: absolute;
  z-index: 500;
  top: 218vh;
  left: 10vh;
}

.sub-hero-show-title {
  position: absolute;
  z-index: 500;
  top: 218vh;
  right: 10vh;
}

.subhero-movie-desc {
  position: absolute;
  z-index: 500;
  top: 223vh;
  left: 10vh;
  width: 35%;
  font-size: 2vh;
  text-align: left;
}

.subhero-show-desc {
  position: absolute;
  z-index: 500;
  top: 223vh;
  right: 10vh;
  width: 35%;
  font-size: 2vh;
  text-align: right;
}

.subhero-image-left {
  mask-image: url('../../assets/sub-hero-left.svg');
  mask-repeat: no-repeat;
  width: 100vh;
  height: 46vh;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.subhero-image-right {
  mask-image: url('../../assets/sub-hero-right.svg');
  mask-repeat: no-repeat;
  width: 100vh;
  height: 46vh;
  object-fit: cover;
  position: relative;
  right: 23.5vh;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.subhero-image-left:hover {
  opacity: 1;
}

.subhero-image-right:hover {
  opacity: 1;
}
