.movies-container {
  width: 93%;
  margin: 2.5% auto;
}

.hero-container {
  width: 100%;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form {
  width: 36%;
}

.search-movie-icon {
  width: 2.5%;
}

.search {
  width: 100%;
  padding: 1% 0;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  outline: none;
}

.search::placeholder {
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.movie-section-header {
  text-align: left;
  margin-top: 2%;
}

.movie-posters-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.twelve-movies {
  flex-wrap: wrap;
  margin-top: -10px;
}

.twelve-posters {
  margin-top: 18px;
}

.section-break-tite {
  position: absolute;
  z-index: 500;
  margin-top: 15%;
  margin-left: 2%;
}

.section-break-desc {
  width: 70%;
  position: absolute;
  z-index: 500;
  margin-top: 18%;
  margin-left: 2%;
  font-size: 18px;
  text-align: left;
}

.section-break-image {
  margin-top: 3%;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: top;
  opacity: 0.5;
  border-radius: 6px;
}
