.movies-container {
  width: 93%;
  margin: 2.5% auto;
}

.hero-container {
  width: 100%;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form {
  width: 36%;
}

.search-movie-icon {
  width: 2.5%;
}

.search {
  width: 100%;
  padding: 1% 0;
  padding-left: 30px;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: white;
  outline: none;
}

.search::placeholder {
  width: 100%;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.movie-section-header {
  text-align: left;
  margin-top: 2%;
}

.movie-six-poster-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.twelve-movies {
  flex-wrap: wrap;
  margin-top: -10px;
}

.twelve-posters {
  margin-top: 1.8vh;
  width: 28vh;
  height: 45vh;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
